{% extends "modelo.html" %}

{% block title %}Página não encontrada - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-100 mb-100 min-h-55">
    <div class="card">
        <div class="card-body">
            <div class="post-content">
                <h1 class="h3">Página não encontrada</h1>
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('home.home') }}"><i class="fa fa-fw fa-chevron-left fa-sm"></i> Voltar para página inicial</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}