{% extends "admin_modelo.html" %}
{% block content %}
<div class="container-fluid mt-50">
    <div class="row">
        <div class="col col-sm-12 col-md-3 col-lg-2 p-0">
            <nav class="sidebar pt-30">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <span class="menu-title">Anúncios</span>
                            <i class="fa fa-bullhorn ml-auto"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col col-sm-12 col-md-9 col-lg-10">
            <section>

            </section>
        </div>
    </div>

</div>
{% endblock %}