{% extends "admin_modelo.html" %}
{% block title %}Home - {{super()}}{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Bem vindo, {{ auth.user.nome }}</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Atualize seu perfil</div>
                                <a href="{{ url_for('usuarios.admin_editar', identifier=auth.user.identifier) }}" class="h5 mb-0 font-weight-bold text-gray-800">{{ auth.user.nome }}</a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-edit fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Faça seu anúncio</div>
                                <a href="{{ url_for('anuncios.admin_cadastro') }}" class="h5 mb-0 font-weight-bold text-gray-800">Cadastre aqui!</a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bullhorn fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if auth.is_allowed('edita.anuncio') %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Anúncios pendentes</div>
                                <a href="{{ url_for('anuncios.admin_aprovacao') }}" class="h5 mb-0 font-weight-bold text-gray-800">{{ pendente }}</a>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>



    </div>
    <!-- /.container-fluid -->
{% endblock %}