{% extends "modelo.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area owl-carousel">
        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(static/assets/img/bg-img/1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive.html">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">Party
                                Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms"><i
                                    class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(static/assets/img/bg-img/2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive.html">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">Party
                                Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms"><i
                                    class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(static/assets/img/bg-img/3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Contetnt -->
                        <div class="post-content text-center">
                            <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                                <a href="#">MAY 8, 2018</a>
                                <a href="archive.html">lifestyle</a>
                            </div>
                            <a href="video-post.html" class="post-title" data-animation="fadeInUp" data-delay="300ms">Party
                                Jokes Startling But Unnecessary</a>
                            <a href="video-post.html" class="video-play" data-animation="bounceIn" data-delay="500ms"><i
                                    class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->
    <!-- ##### Avisos ##### -->
    <section class="container-fluid mt-30 mb-30">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <div class="section-heading">
                           <a href="{{ url_for("avisos.avisos")}}"><h5>Avisos</h5></a>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-content">
                                <a href="" class="post-title">Aviso importante para amanhã</a>
                                <p>Não haverá aula</p>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-content">
                                <a href="" class="post-title">Aviso importante para amanhã</a>
                                <p>Não haverá aula</p>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-content">
                                <a href="" class="post-title">Aviso importante para amanhã</a>
                                <p>Não haverá aula</p>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-content">
                                <a href="" class="post-title">Aviso importante para amanhã</a>
                                <p>Não haverá aula</p>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-content">
                                <a href="" class="post-title">Aviso importante para amanhã</a>
                                <p>Não haverá aula</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <div class="section-heading">
                            <a href="{{ url_for("anuncios.anuncios")}}"><h5>Anúncios</h5></a>
                        </div>
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img src="static\assets\img\bg-img\1.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <a href="video-post.html" class="post-title">
                                    A Closer Look At Our Front Porch Items From
                                    Lowe’s
                                </a>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accusantium doloremque laudantium
                                </p>
                            </div>
                        </div>
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img src="static\assets\img\bg-img\2.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <a href="video-post.html" class="post-title">
                                    A Closer Look At Our Front Porch Items From
                                    Lowe’s
                                </a>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accusantium doloremque laudantium
                                </p>
                            </div>
                        </div>
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img src="static\assets\img\bg-img\3.jpg" alt="">
                                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <a href="video-post.html" class="post-title">
                                    A Closer Look At Our Front Porch Items From
                                    Lowe’s
                                </a>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accusantium doloremque laudantium
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="section-heading">
                            <a href="{{ url_for("noticias.noticias")}}"><h5>Notícias</h5></a>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="static\assets\img\bg-img\1.jpg" alt="">
                            </div>

                            <div class="post-content">
                                <a href="single-post.html" class="post-title">
                                    Global Travel And Vacations Luxury
                                    Travel
                                </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <p>Teste</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="static\assets\img\bg-img\2.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">
                                    Global Travel And Vacations Luxury
                                    Travel
                                </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <p>Teste</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="static\assets\img\bg-img\3.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">
                                    Global Travel And Vacations Luxury
                                    Travel
                                </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <p>Teste</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ##### Mag Posts Area End ##### -->
{% endblock %}