{% extends "modelo.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block content %}
    {% if banners|length > 0 %}
    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area owl-carousel">
        {% for banner in banners %}
        <!-- Single Blog Post -->
        <div class="hero-blog-post bg-img bg-overlay" style="background-image: url({{ banner.imagem.decode('utf-8') }});">
            {% if banner.redireciona_url|length > 0 %}
            <a href="{{ banner.redireciona_url }}" class="w-100 h-100 d-block" target="_blank"></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- ##### Hero Area End ##### -->
    {% else %}
        <div class="d-block" style="height: 75px;"></div>
    {% endif %}
    <!-- ##### Avisos ##### -->
    <section class="container-fluid mt-30 mb-30">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-3 order-1 order-md-0">
                <div class="section-heading warning">
                   <a href="{{ url_for("avisos.avisos")}}"><h5>Avisos</h5></a>
                </div>
                {% if avisos|length > 0 %}
                {% for aviso in avisos %}
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{{ url_for('avisos.pagina_aviso', identifier=aviso.identifier) }}" class="post-title"><h5 class="card-title">{{ aviso.titulo }}</h5></a>
                        <p class="card-text">{{ aviso.conteudo|striptags|truncate(150) }}</p>
                        <a href="{{ url_for('avisos.pagina_aviso', identifier=aviso.identifier) }}" class="btn btn-outline-warning btn-sm">Veja mais</a>
                    </div>
                </div>
                {% endfor %}
                    <a href="{{ url_for('avisos.avisos') }}" class="btn btn-warning btn-sm text-white">Ver todos os avisos</a>
                {% else %}
                    Não temos nenhum aviso no momento.
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-6 mb-3 order-0 order-md-1">
                <div class="section-heading primary">
                    <a href="{{ url_for("anuncios.anuncios")}}"><h5>Anúncios</h5></a>
                </div>

                {% if anuncios|length > 0 %}
                    <div class="card-columns two-columns">

                        {% for anuncio in anuncios %}
                        <div class="card mb-3">
                            {% set image = anuncio.get_cover() %}
                            {% if image|length > 0 %}
                                <a href="{{ url_for('anuncios.pagina_anuncio', identifier=anuncio.identifier) }}">
                                    <img src="{{ image.decode('utf-8') }}" class="card-img-top" alt="{{ anuncio.titulo }}">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <a href="{{ url_for('anuncios.pagina_anuncio', identifier=anuncio.identifier) }}"><h5 class="card-title">{{ anuncio.titulo }}</h5></a>
                                <p class="card-text">{{ anuncio.conteudo|striptags|truncate(250) }}</p>
                                <a href="{{ url_for('anuncios.pagina_anuncio', identifier=anuncio.identifier) }}" class="btn btn-outline-primary btn-sm">Veja mais</a>
                            </div>
                        </div>
                        {% endfor %}

                </div>

                    <a href="{{ url_for('anuncios.anuncios') }}" class="btn btn-primary btn-sm text-white mt-3">Ver todos os anúncios</a>
                {% else %}
                    Não temos nenhum anúncio no momento.
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-3 order-2">
                <div class="section-heading success">
                    <a href="{{ url_for("noticias.noticias")}}"><h5>Notícias</h5></a>
                </div>
                {% if noticias|length > 0 %}
                {% for noticia in noticias %}
                    <div class="card mb-3">
                        {% set image = noticia.get_cover() %}
                        {% if image|length > 0 %}
                            <a href="{{ url_for('noticias.pagina_noticia', identifier=noticia.identifier) }}">
                                <img src="{{ image.decode('utf-8') }}" class="card-img-top" alt="{{ noticia.titulo }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <a href="{{ url_for('noticias.pagina_noticia', identifier=noticia.identifier) }}"><h5 class="card-title">{{ noticia.titulo }}</h5></a>
                            <p class="card-text">{{ noticia.conteudo|striptags|truncate(150) }}</p>
                            <a href="{{ url_for('noticias.pagina_noticia', identifier=noticia.identifier) }}" class="btn btn-outline-success btn-sm">Veja mais</a>
                        </div>
                    </div>
                {% endfor %}
                    <a href="{{ url_for('noticias.noticias') }}" class="btn btn-success btn-sm text-white">Ver todas as notícias</a>
                {% else %}
                    Não temos nenhuma notícia no momento.
                {% endif %}
            </div>
        </div>

    </section>
    <!-- ##### Mag Posts Area End ##### -->
{% endblock %}