{% extends "admin_modelo.html" %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.admin_home') }}">Mural Virtual</a></li>
                <li class="breadcrumb-item active" aria-current="page">Universidade</li>
            </ol>
        </nav>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Universidade</h1>
        <form autocomplete="off" class="form-data" method="post" action="{{ url_for('universidade.admin_editar') }}">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" value="{{ universidade.nome }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefone">Telefone</label>
                                        <input type="tel" name="telefone" id="telefone" class="form-control mask-phone" placeholder="Nome" value="{{ universidade.telefone }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="exemplo@email.com" value="{{ universidade.email }}" required>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="logo">Logo</label>
                                        <input type="file" name="logo" id="logo" accept="image/jpeg, image/png" class="form-control">
                                        <small class="">Selecione uma nova imagem para substituir a atual.</small>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-block">Imagem atual</label>
                                        <a href="{{ universidade.logo.decode('utf-8') }}" target="_blank">
                                            <img src="{{ universidade.logo.decode('utf-8') }}" alt="Logo" class="img-thumbnail" style="max-height: 100px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save fa-sm fa-fw text-white-50"></i> Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
{% endblock %}