<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153266811-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153266811-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %}{{ universidade.nome }} - Mural Virtual{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
        <link rel="icon" href="{{ universidade.logo.decode('utf-8') }}">
    {% endblock %}
</head>

<body>
<div class="preloader">
    <div class="loader_34">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block menu %}
<nav class="navbar navbar-expand fixed-top text-dark navigation-clean-button" style="width: 100%;height: 65px;">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="width: auto;height: auto;">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white" data-toggle="dropdown" href="#">
                            <i class="fa fa-2x fa-bars"></i>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{ url_for("home.home")}}">Home</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for("avisos.avisos")}}">Avisos</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for("anuncios.anuncios")}}">Anúncios</a>
                            <a class="dropdown-item" role="presentation" href="{{ url_for("noticias.noticias")}}">Notícias</a>
                        </div>
                    </li>
                </ul>
                <a class="mx-auto" href="{{ url_for("home.home") }}">
                    <img alt="Logo Uniplac" style="width: 50px;height: 50px;" src="{{ universidade.logo.decode('utf-8') }}">
                </a>
                <span class="navbar-text actions">
                    <a class="text-white login" href="{{ url_for('usuarios.entrar') }}">Entrar</a>
                    <a class="btn btn-light action-button" role="button" href="{{ url_for('usuarios.cadastro') }}">Cadastre-se</a>
                </span>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Telefone:</h3>
                        <ul>
                            <li>{{ universidade.telefone }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>E-mail</h3>
                        <ul>
                            <li><a href="mailto:{{ universidade.email }}">{{ universidade.email }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-lg-3 item social">
                        <a href="https://www.facebook.com/uniplaclages/" target="_blank">
                            <i class="fa fa-facebook fa-sm fa-fw"></i>
                        </a>
                        <a href="https://www.instagram.com/uniplaclages/" target="_blank">
                            <i class="fa fa-instagram fa-sm fa-fw"></i>
                        </a>
                        <p class="copyright">{{ universidade.nome }} &copy; Mural Virtual 2019</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <!-- Popper js -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap/popper.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap/bootstrap.min.js') }}"></script>
    <!-- All Plugins js -->
    <script src="{{ url_for('static', filename='assets/js/plugins/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/sweetalert/sweetalert.min.js') }}"></script>
    <!-- Active js -->
    <script src="{{ url_for('static', filename='assets/js/active.js') }}"></script>
    <!-- Input Mask -->
    <script src="{{ url_for('static', filename='assets/js/imask.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/add-mask.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>