{% extends "admin_modelo.html" %}
{% block title %}Logs - {{super()}}{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.admin_home') }}">Mural Virtual</a></li>
                <li class="breadcrumb-item active" aria-current="page">Logs</li>
            </ol>
        </nav>

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Logs</h1>

        <div class="card">
            <div class="card-body">
                <table data-table-url="{{ url_for('logs.admin_busca') }}" class="table">
                    <thead>
                        <tr>
                            <th class="w-75">Ação</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}