bcrypt==3.1.7
cffi==1.13.2
Click==7.0
Flask==1.1.1
flask-paginate==0.5.5
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycparser==2.19
PyMySQL==0.9.3
python-dotenv==0.10.3
six==1.13.0
Werkzeug==0.16.0
