{% extends "modelo.html" %}

{% block title %}{{ noticia.titulo }} - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-100 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('noticias.noticias') }}">Notícias</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ noticia.titulo }}</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-body">
            <div class="post-content">
                <a href="{{ url_for('noticias.noticia', identifier=noticia.identifier) }}"><h1 class="h3">{{ noticia.titulo }}</h1></a>
                <div class="post-meta justify-content-between">
                    {{ noticia.conteudo|safe }}
                </div>
            </div>
            {% set images = noticia.get_images() %}
            <hr>
            <span class="h4 mb-15 d-block">Galeria de imagens</span>
            {% if images|length > 0 %}
                <div class="owl-carousel owl-theme hero-area">
                    {% for image in images %}
                    <div class="item"><img src="{{ image.imagem.decode('utf-8') }}" alt="{{ image.legenda }}"></div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}