.dropdown-divider {
    border-color: rgba(255, 255, 255, 0.16);
}

.bg-uniplac {
    background: #2e3367;
}

.default-table tr td:first-child {
    text-align: left !important;
}

.default-table tr td:last-child {
    text-align: right;
}