{% extends "admin_modelo.html" %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.admin_home') }}">Mural Virtual</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avisos</li>
            </ol>
        </nav>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Avisos</h1>
            <a href="{{ url_for('avisos.admin_cadastro') }}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-fw fa-sm text-white-50"></i> Cadastrar aviso</a>
        </div>

        <div class="card">
            <div class="card-body">
                <table data-table-url="{{ url_for('avisos.admin_busca') }}" class="table default-table">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th class="w-25">Título</th>
                            <th>Data de entrada</th>
                            <th>Data de saída</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}