{% extends "modelo.html" %}

{% block title %}{{ aviso.titulo }} - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-100 mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('avisos.avisos') }}">Avisos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ aviso.titulo }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12">
            <div class="section-heading warning">
                <h5>{{ aviso.titulo }}</h5>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="post-content">
                <div class="post-meta justify-content-between">
                    {{ aviso.conteudo|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}