{% extends "modelo.html" %}

{% block title %}Avisos - {{ super() }}{% endblock %}

{% block content %}
    <div class="container mt-100 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avisos</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12">
                <div class="section-heading warning">
                    <h5>Avisos</h5>
                </div>
            </div>
        </div>
        <div class="card-columns">
            {% if avisos|length > 0 %}
            {% for aviso in avisos %}
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('avisos.aviso', identifier=aviso.identifier) }}" class="post-title"><h5 class="card-title">{{ aviso.titulo }}</h5></a>
                    <p class="card-text">{{ aviso.conteudo|striptags|truncate(150) }}</p>
                    <a href="{{ url_for('avisos.aviso', identifier=aviso.identifier) }}" class="btn btn-outline-warning btn-sm">Veja mais</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                Não temos nenhum aviso no momento.
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}