{% extends "modelo.html" %}

{% block title %}Avisos - {{ super() }}{% endblock %}

{% block content %}
    <div class="container mt-100 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('home.home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avisos</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-body">
                <div class="section-heading">
                    <h5>Avisos</h5>
                </div>
                {% if avisos|length > 0 %}
                {% for aviso in avisos %}
                <div class="single-featured-post d-flex">
                    <div class="post-content">
                        <a href="{{ url_for('avisos.aviso', identifier=aviso.identifier) }}" class="post-title">{{ aviso.titulo }}</a>
                        <p>{{ aviso.conteudo|striptags|truncate(350) }} <a class="text-dark" href="{{ url_for('avisos.aviso', identifier=aviso.identifier) }}">Veja mais</a></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    Não temos nenhum aviso no momento.
                {% endif %}
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}