{% extends "admin_modelo.html" %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Anúncios</h1>
            <a href="{{ url_for('anuncios.admin_cadastro') }}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-fw fa-sm text-white-50"></i> Cadastrar anúncio</a>
        </div>

        <div class="card">
            <div class="card-body">
                <table data-table-url="{{ url_for('anuncios.admin_busca') }}" class="table default-table">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th class="w-25">Título</th>
                            <th>Data de entrada</th>
                            <th>Data de saída</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}