{% extends "admin_modelo.html" %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Anúncios</h1>

        <div class="card">
            <div class="card-body">
                <table data-table-url="{{ url_for('anuncios.admin_busca') }}" class="table default-table">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th class="w-75">Título</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}